<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <!-- comma separated list of team members -->
      <add key="TeamMembersList" value="Team Member 1, Team Member 2, Team Member 3" />
      
      <!-- Managers name will come last -->
      <add key="ManagerName" value="Team Lead"/>
   </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>